
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h2>Opa! Isso é meio constrangedor.</h2>
<p>Nesse momento não sabemos o que deu errado. Tente novamente em alguns minutos ou entre em contato com o suporte.</p>

