
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h2>Ops!</h2>
<p>Parece que a página solicitada não foi encontrada. Verifique as informações e tente novamente.</p>

